html, body {
    margin: 0;
    padding: 0;
  }


#scorePlot {
  position: absolute;
  top: 600px;
  left: 800px;
  height: 310px;
  width: 400px;
}

.configBox {
  display: flex;
  margin: 20px; padding: 10px;
  border: 2px solid black;
  max-width: 750px;
}

.col {
  display: block;
  width: 50%;
}
  